@using EntityLayer.Concrete
@model List<RolePermission>


<table class="table table-bordered">

    <thead>
        <tr>
            <td>Role Title</td>
            <td>Role Permissions</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Role Title</td>
            <td><a href="btn btn-primary">Permission Of Role</a></td>
        </tr>
    </tbody>

</table>