@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using (Html.BeginForm("s", "s", FormMethod.Post))
{
    <div style="margin:auto">

    <label>Title</label>
    <input type="text" class="form-control" name="Title">


    <label>Content</label>
    <input type="text" class="form-control" name="Content">




    <label>Author</label>
    <input type="text" class="form-control" name="Author"> 


    <label>Category Id</label>
    <input type="text" class="form-control" name="Publish_Date">


    <label>Source</label>
    <input type="text" class="form-control" name="Source">



    </div>

}