@model ICollection<Permission>


<a asp-controller="Permission" asp-action="CreatePermission" class="btn btn-primary">Create New Permission</a>
<br />
<table class="table table-bordered">


    <thead>
        <tr>
            <th>Permission Title</th>
            <th>Permission Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Id</td>
                <td><a asp-action="EditPermission" asp-controller="Permission" asp-route-PermissionId="@item.Id" class="btn btn-success">Edit</a></td>
                <td><a asp-action="DeletePermission" asp-controller="Permission" asp-route-PermissionId="@item.Id" class="btn  btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>






</table>
